// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@import '../abstracts/variables';

$fonts: "PoppinsVN-Black.ttf" "PoppinsVN-Extrabold.ttf" "PoppinsVN-Bold.ttf" "PoppinsVN-Semibold.ttf" "PoppinsVN-Medium.ttf" "PoppinsVN-Regular.ttf" "PoppinsVN-Light.ttf" "PoppinsVN-Extralight.ttf" "PoppinsVN-Thin.ttf";
// $fonts: null; // no font

@if $fonts {
    @each $font in $fonts {
        @font-face {
            font-family: "#{$font}";
            src: url("#{$font-url}/#{$font}") format("truetype");
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }
    }
}